<div id="all">
    <div id="nav">
        <ul>
            <li data-ng-repeat="item in navigation.primary()" data-ng-class="{active: item.active()}">
                <div class="stalk"></div>
                <div component-bracket>
                    <a href="#{{item.url()}}">{{item.label()}}</a>
                </div>
            </li>
        </ul>
    </div>
    <div id="content">
        <div class="content-column"></div>
        <div class="content-column main">
            <div player-current></div>
            <div data-ng-include="routeTemplateUrl">
                
            </div>
        </div>
        <div class="content-column"></div>
    </div>
</div>