Are you an aggressive go-getter with an immortal genetic configuration who can hit the ground running?

If so, apply to the Orbital Inc. team for the position of Station Manager.

Ideal applicants will have:
<ul>
    <li>City-planning experience 50 years (25 years minimum*)</li>
    <li>Immortal genetic configuration or minimum 500 years Life Expectancy Guarantee</li>
</ul>

* Other experience will be taken into account, including:
<ul>
    <li>simulated cities</li>
    <li>building civilisations, be it on Earth or Alpha Centauri</li>
    <li>a documented history of godhood to a populous</li>
    <li>references as a keeper of dungeons</li>
</ul>

Oribital Inc. is hiring from the VR Zone right now. Sign up today!
