[technopedia-navigation] {
	
}

[technopedia-navigation] ul {
	background: #444;
	list-style: none;
	padding: 0;
	margin: 0;
}

[technopedia-navigation] ul li {
	text-align: center;
	width: 1%;
	display: table-cell;
	overflow: hidden;
	padding: 0 20px;
}

[technopedia-navigation] ul li a {
	color: #2df;
	display: block;
}
[technopedia-navigation] ul li.active a {
	color: white;
}

[technopedia-navigation] ul li .stalk {
	border-width: 0;
	height: 20px;
	margin: auto;
}
[technopedia-navigation] ul li.active .stalk {
	border-width: 0 2px;
}
