.isometric-grid {
	position: relative;
	width: 500px;
	height: 250px;
	margin: auto;
}
.isometric-grid .isometric-square {
	position: absolute;
	text-align: center;
	background: url(../media/image/isometric-square-100x50-empty.png);
}