<p>
    The world of {{world}} lies in the distant {{supercluster}} supercluster.
    While they describe their supercluster as being relatively barren, having 
    found sentient creatures when exploring Laniakea, they intend to re-evaluate
    their methods of detecting sentient entities.
</p>

<p>
    Due to the way the {{race}} interact with time and space, they have always
    resided inside their planet, to be closer to the source of the electrical, 
    magnetic and gravitational fields. They feed on the changes in those fields.
</p>
